@font-face {
  font-family: 'ArcadeI';
  src: url('Resources/fonts/ARCADE_I.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcadeN';
  src: url('Resources/fonts/ARCADE_N.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcadeR';
  src: url('Resources/fonts/ARCADE_R.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h2, h3, h5{
	font-family: 'ArcadeI';
}

body{
	background-image: url("Resources/gif.gif");
	background-size: fill;
}

audio{
	visibility: hidden; 
}

#tutorial{
	height:80px;
}

p{
	font-family: 'ArcadeR';
	font-size: 12px;
	display: inline;
}

img{
	width: 120px;
}

#panel{
	color: white;
	padding-left: 0;
	padding-right: 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
	position: relative;
}

#tela{
	background-color: #c3c3c3c3;
	border-style: solid;
	border-color: #FAFAFA;
	padding-left: 0;
	padding-right: 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

label, input {
	background: none;
	color: white;
	width: 80px;
	border: 0;
	font-family: 'ArcadeR';
}

input{
	font-size: 18px;
}

button {
	font-family: 'ArcadeR';
  	display: inline-block;
  	padding: 5px 15px;
  	font-size: 14px;
  	cursor: pointer;
  	text-align: center;	
  	text-decoration: none;
  	outline: none;
  	color: #fff;
	background-color: #4CAF50;
	border: none;
  	border-radius: 15px;
}

p{
	margin: 0;
}

#footer{
	font-size: 12px;
	font-family: 'ArcadeR';
	text-align: center;
	color: white;
	margin-top: 7%;
}

